<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--<system.web>
    <httpRuntime executionTimeout="999" maxRequestLength="2097151"/>
    <compilation debug="true" targetFramework="4.5.2" />
    --><!--<httpRuntime targetFramework="4.5.2" />--><!--
  </system.web>-->

  <system.web>
    <httpCookies httpOnlyCookies="true"></httpCookies>
    <!--<identity impersonate="true" userName="Administrator" password="Admin@123" />-->
    <globalization uiCulture="en" culture="en-US" />
    <authentication mode="Forms">
      <forms timeout="50000000" />
    </authentication>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" executionTimeout="900000" maxRequestLength="163840" useFullyQualifiedRedirectUrl="false" minFreeThreads="20" minLocalRequestFreeThreads="20" appRequestQueueLimit="200" enableVersionHeader="false" />
    <!--<pages validateRequest="false" enableEventValidation="true" enableViewStateMac="true" viewStateEncryptionMode="Always">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>-->
    
    <!--<customErrors mode="RemoteOnly" defaultRedirect="~/Error">
      <error statusCode="404" redirect="~/Error/NotFound" />
      <error statusCode="401" redirect="~/Error/AccessDenied" />
      <error statusCode="403" redirect="~/Error/AccessDenied" />
      <error statusCode="500" redirect="~/Error/Index" />
      <error redirect="~/Error/Index" statusCode="501" />
      <error redirect="~/Error/Index" statusCode="502" />
      <error redirect="~/Error/Index" statusCode="503" />
    </customErrors>-->
    
    <sessionState timeout="30" mode="InProc" regenerateExpiredSessionId="true" />
    <authorization>
      <deny verbs="OPTIONS" users="*" />
    </authorization>
    <healthMonitoring>
      <rules>
        <remove name="Failure Audits Default" />
      </rules>
    </healthMonitoring>
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" decryption="Auto" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Compression.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1451.0.53" newVersion="17.1451.0.53" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DBIMS" connectionString="Data Source=DESKTOP-ON998A3\SQLEXPRESS;Initial Catalog=IMSFinal;Persist Security Info=True;User ID=sa;Password=Admin@123" providerName="System.Data.SqlClient" />
    <!--<add name="IMSFinalEntities" connectionString="metadata=res://*/Data.IMSContext.csdl|res://*/Data.IMSContext.ssdl|res://*/Data.IMSContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0FBEV4B;initial catalog=IMSFinal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="IMSFinalEntities" connectionString="metadata=res://*/DataContext.IMSContext.csdl|res://*/DataContext.IMSContext.ssdl|res://*/DataContext.IMSContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=IMSFinal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>